{% extends "base.html" %}

{% block content %}

<form class="form-inline" role="form" action="" method="post" >
  <div class="form-group">
    <label class="sr-only" for="domain">Password</label>
    <input type="text" class="form-control" name="domain" placeholder="请输入要添加的域名">
    {% csrf_token %}                   
  </div>
{% if msg %}
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{msg}}
</div>
{% endif %}
  <button type="submit" class="btn btn-primary">添加</button>
</form>

{% endblock %}

